/*================== FONT IMPORT ====================*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");

@font-face {
    font-family: "SanziahAlt";
    src: url("../assets/fonts/sanziah_alt.woff2") format("woff2"),
        url("../assets/fonts/sanziah_alt.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SanziahRegular";
    src: url("../assets/fonts/sanziah_regular.woff2") format("woff2"),
        url("../assets/fonts/sanziah_regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cosette";
    src: url("Cosette.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

/*===================================================*/

/*================== COLOURS & KEYSTONE SPACING ====================*/

:root {
    --dark-grey: #2e2e2e;
    --dark-grey-transparent: #2e2e2e5a;
    --dark-grey-transluscent: #2e2e2eCC;
    --light-grey: #7c7c7c;
    --crown-gold: #d59638;
    --white: #ffffff;
    --black: #000000;
    --drop-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --section-margin: 100px;
    --small-margin: 10px;
    --transition-timing: 0.5s;
    --media-max-width: 775px;
}

/*===================================================*/

/*================== GENERAL STYLES ====================*/

/* Body */
body {
    background-color: var(--dark-grey);
    color: var(--white);
    font-family: "Montserrat", sans-serif;
}

/* Main Titles */
h1 {
    font-family: "SanziahAlt", "Georgia", serif;
    font-size: 200pt;
}

/* Section Headings */
h2 {
    font-size: 35pt;
    font-weight: 200;
    text-align: center;
    letter-spacing: 2pt;
    text-transform: uppercase;
    color: var(--dark-grey);
}

/* Subtitle */
h3 {
    font-size: 18pt;
    letter-spacing: 4pt;
    text-transform: uppercase;
}

h4 {
    font-size: 12pt;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h5 {
    font-size: 24pt;
    font-family: "Montserrat";
    font-weight: 200;
    letter-spacing: 1pt;
    text-transform: uppercase;
    margin-top: 10px;
}

p {
    font-family: "Georgia", serif;
    font-weight: 100;
    font-size: 14pt;
    letter-spacing: 0.5pt;
    line-height: 20pt;
}

button {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 11pt;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--dark-grey);
    border: 1px solid var(--light-grey);
    letter-spacing: 2px;
    transition: var(--transition-timing);
}

button:hover {
    border-color: var(--crown-gold);
    color: var(--crown-gold);
    box-shadow: var(--drop-shadow);
    transition: var(--transition-timing);
}

button:active {
    border: 1px solid gold;
    color: gold;
}

.button-selected {
    background-color: var(--white);
    color: var(--black);
    font-weight: 300;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 11pt;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--dark-grey);
    border: 1px solid var(--light-grey);
    letter-spacing: 2px;
    transition: var(--transition-timing);
}

.link-button:hover {
    color: var(--crown-gold);
    border-color: var(--crown-gold);
    box-shadow: var(--drop-shadow);
    transition: var(--transition-timing);
}

.button-light {
    background-color: inherit;
    color: var(--light-grey);
    border: 1px solid var(--light-grey);
}

img {
    box-shadow: var(--drop-shadow);
}

.text-center {
    text-align: center;
}

.white-text {
    color: #ffffff;
}

.black-text {
    color: #000000;
}

.grey-backround {
    background-color: #2e2e2e;
}

.white-background {
    background-color: var(--white);
    color: var(--black);
}

.link {
    color: #29a2e7;
    text-decoration: underline;
}

.default-margin {
    width: 70%;
    margin: 0 auto;
    margin-top: var(--section-margin);
}

.small-margin {
    margin-top: var(--small-margin);
}

.no-shadow {
    box-shadow: none;
}

/*===================================================*/

/*================== FLEX CLASSES ====================*/

.flex-container {
    display: flex;
    width: 70%;
    margin: 30px auto;
    flex-direction: row;
    margin-top: var(--section-margin);
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.flex-center-horizontally {
    justify-content: center;
}

.flex-center-vertically {
    align-items: center;
}

/*===================================================*/

/*================== GRID CLASSES ====================*/

.grid-container {
    display: grid;
    width: 80%;
    margin: 0 auto;
    margin-top: var(--section-margin);
}

.grid-auto-size {
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 10%;
    grid-row-gap: 20px;
}

.grid-one-third {
    align-items: center;
    grid-template-columns: 33% auto;
    grid-column-gap: 10%;
    grid-row-gap: 20px;
}

/*================== CARD CLASSES ====================*/

.card {
    width: 300px;
    height: 400px;
    padding: 10px;
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: box-shadow var(--transition-timing) ease-in;
}

.card .card-img {
    height: 70%;
    width: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .hover-text {
    /* height: 100%; */
    padding-top: 49%;
    padding-bottom: 49%;
    width: 100%;
    text-align: center;
    opacity: 0;
    font-size: 15pt;
    transition: opacity var(--transition-timing);
}

.card:hover {
    box-shadow: var(--drop-shadow);
}

.card:hover .hover-text {
    opacity: 100%;
    color: var(--crown-gold);
    background-color: var(--dark-grey-transluscent);
}

.card .bottom-text {
    letter-spacing: 2pt;
    font-size: 13pt;
}

/* If there's an image, darken it */

/*===================================================*/



/*===================================================*/



/*================== NAV CLASSES ====================*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    /* border-bottom: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-timing);
}

nav ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

nav ul li {
    flex: 1;
    text-align: center;
}

.nav-link {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1pt;
    font-size: 10pt;
}

.nav-link>a {
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    transition: var(--transition-timing);
}

.nav-link>a:hover {
    color: var(--crown-gold);
    transition: var(--transition-timing);
    /* box-shadow: var(--drop-shadow); */
}

.nav-logo {
    height: 60px;
    box-shadow: none;
}

.nav-small {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-sm {
    margin-top: 5px;
    height: 70px;
    margin-left: 20px;
}

.nav-hamburger {
    height: 50px;
}

#nav-expand {
    padding: 0;
    background: none;
    border: none;
    margin: 0;
    margin-right: 20px;
}

#nav-expand:hover {
    box-shadow: none;
}

.nav-margin-top {
    margin-top: 15px;
}

.nav-bar-dark-bg {
    background-color: var(--dark-grey-transparent);
}

#sidebar {
    position: fixed;
    width: 50%;
    height: 105vh;
    right: -52%;
    top: 0;
    bottom: 0;
    background-color: var(--light-grey);
    box-shadow: var(--drop-shadow);
    transition: var(--transition-timing);
}

.show-sidebar {
    right: 0 !important;
}

#sidebar ul {
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-evenly;
}

#sidebar ul li button {
    margin-top: 10px;
    margin-left: 30px;
}

/*===================================================*/

/*================== Footer Styling ====================*/

footer {
    padding-bottom: 100px;
}

.footer-img {
    max-width: 200px;
}

/*===================================================*/

/*================== MEDIA SIZING CLASSES ====================*/

@media (max-width: 775px) {
    .flex-container {
        flex-direction: column;
        width: auto;
    }

    .grid-one-third {
        grid-template-columns: auto;
    }
}

/*===================================================*/